[submodule ".build"]
	path = .build
	url = https://github.com/PMeeske/ouroboros-build.git
	branch = main
[submodule "foundation"]
	path = foundation
	url = https://github.com/PMeeske/ouroboros-foundation.git
	branch = main
[submodule "engine"]
	path = engine
	url = https://github.com/PMeeske/ouroboros-engine.git
	branch = main
[submodule "app"]
	path = app
	url = https://github.com/PMeeske/ouroboros-app.git
	branch = main
